$coloreSfondo: black;
$colorePulsanti: black;
$coloreTesti: white;
$coloriTestiImpostazioni: rgb(88, 86, 86);
$coloreFooterText: #7c7c7c;
$coloreFooterText_hover: #696666;
$ColoreBorderBottom: #7c7c7c;
